
@{
    ViewBag.Title = "Index";
}




<h2>Index</h2>
<a href="/Product/create">Product Create</a>
<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Quatity</th>
        <th>Description</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>@item.Qty</td>
            <td>@item.Description</td>
            <td>@Html.ActionLink("EDIT","Edit","Product",new {id = item.Id } ,new { @class = "btn btn-primary" })</td>
            <td>@Html.ActionLink("DELETE","Delete","Product",new {id = item.Id} ,new { @class = "btn btn-danger" })</td>


        </tr>
    }
</table>